* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: lightgreen;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}

body {
  width: 1500px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(./assets/blackpaper-hires.jpg);
  color: white;
}

.about,
.achievement {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
}

.navbar {
  margin: auto;
  background: darkslateblue;
  width: 80%;
  border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px cyan;
}
img {
  padding-top: 6px;
  padding-left: 4px;
}

.about img {
  src: url(../public/assets/profile.jpg);
}

.cats img {
  src: url(../public/assets/candp.jpg);
}

.about img,
.cats img {
width: "300px";
float: "left";
margin-right: "30px";
border-radius: "20px";
box-shadow: "0px 0px 40px 0px cyan";
}